*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero-container {
    background-image: url(https://www.homestay.com/assets/homepage/hero/hero-d964776e555246a8c442f3cbca48c7412b066dee0fdf7cd76e162d9f6d40700f.jpg);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newMain1 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 0px;
}
.newLeft {
    width: 50%;
    height: 600px;
}
.newLeft img {
    width: 45vw;
    height: 600px;
}
.newRight {
    width: 60%;
    overflow-y: scroll;
    height: 600px;
}
.upper-newRight {
    width: 80%;
    margin-bottom: 50px;
    padding-left: 10px;
}

.lower-newRight1 {
    display: flex;
    box-shadow: 1px 1px 5px black;
    margin: 20px;
}
.lowerRight-image img {
    width: 15vw;
    height: 25vh;
    padding: 10px;
}
.newRight-container {
    padding: 15px;
    line-height: 30px;
}
header {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    position: absolute;
    top: 0px;
}

.header1 {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    position: fixed;
    background-color: white;
    color: black;
}
.header-image {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 5px;
    padding: 20px 10px;
}
.header-right {
    padding: 30px 5px;
    background-color: rgb(0, 0, 0, 0.3);
}
.header-right1 {
    padding: 30px 5px;
    background-color: white;
    color: rgb(94, 88, 83);
}
header a {
    margin: 0 15px;
    color: #FFFFFF;
    text-decoration: none;
}
.header1 a {
    margin: 0 15px;
    color: rgb(94, 88, 83);
    text-decoration: none;
}
.room {
    border: 1px solid #FFFFFF;
    padding: 15px;
   
}
.room1 {
    border: 1px solid rgb(94, 88, 83);
    padding: 15px;
   
}

.middle {
    width: 100%;
    align-items: center;
    margin-top: 335px;
}

.upper-middle {
    width: 70%;
    margin: auto;
    text-align: center;
}
.upper-middle p {
    color: white;
    font-size: 50px;
}

.down-middle {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 70%;
    margin: auto;
    margin-bottom: 200px;
}
.down-middle1 {
    padding: 20px;
    background-color: rgb(94, 88, 83);
    color: rgb(94, 88, 83);
    width: 100%;
    margin-top: 0px;
    display: none;
    position: fixed;
    top: 80px;
}

.down-middle .form1 {
    display: flex;
    justify-content: space-around;
}

.down-middle .form1 input {
    border: none;
    padding: 20px 25px;
}
.form2 {
    display: flex;
    justify-content: space-around;
}
.down-middle1 .form2 input {
    border: none;
    padding: 20px 25px;
}

#dropdownlist {
    width: 20vw;
    padding: 20px;
    color: rgb(94,88,83);
}

#dropdownlist1 {
    width: 20vw;
    padding: 20px;
    color: rgb(94,88,83);
}

#dropdownlist2 {
    width: 10vw;
    padding: 20px;
    color: rgb(94,88,83);
}

#persons {
    padding: 20px;
}
#persons2 {
    padding: 20px;
}

#search {
    background-color: rgb(169, 44, 65);
    padding: 20px;
    width: 13vw;
}
#search1 {
    background-color: rgb(169, 44, 65);
    padding: 20px;
    width: 5vw;
}


.bottom-main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 92px;
    background-color: rgb(94, 88, 83);
    position: sticky;
    top: 0;
}

.bottom-main div {
    border-left: 0.5px solid black;
    padding: 15px;
    margin-left: 0px;
}
.bottom-main a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.hamburger-menu {
    display: none;
}

.newMain{
    display: none;
}
.filter details {
    display: inline-block;
    position: relative;
}

.filter {
    margin-top: 5px;
    margin-right: 10px;
}

.filter summary {
    padding: 8px 12px;
    color: rgb(94, 88, 83);
    border-radius: 4px;
    cursor: pointer;
    list-style: none;
}

.filter summary::-webkit-details-marker {
    display: none;
}

.filter-content {
    position: absolute;
    left: 10%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    min-width: 160px;
    color: rgb(94, 88, 83);
    background-color: #F1EFEF;
    margin-top: 250%;
    margin-right: 20px;
    z-index: 1;
    padding: 40px;
    width: 620px;
    display: flex;
    gap: 40px;
    transform: translate(-50%, -50%);
}
.filter-content strong{
    font-size: 14px;
}
.filter-content p{
    background-color: white;
    /* text-align: center; */
    padding-top: 20px;
}
.pets{
    margin-top: 5px;
}
.access{
    margin-top: 5px;
}
.sortlist {
    margin-top: -25px;
    float: right;
}

.videoSection {
    width: 75%;
    margin: auto;
}
.upper {
    margin-top: 50px;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}
.upper p {
    margin-bottom: 30px;
    font-size: 20px;
}

.video {
    display: flex;
    justify-content: space-between;
}
.hapening {
    margin-right: 5vw;
    border: 7px solid lightgray;
    border-radius: 10px;
    width: 30%;
    height: 58vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.hapening h3 {
    position: sticky;
    top: 0;
    text-align: left;
    background-color: #656261;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

.hapening li p {
    padding-left: 20px;
    padding-top: 10px;
    color: gray;
    text-decoration: none;
}

.hapening li strong {
    color: #2B95CA;
}

iframe {
    margin-left: 5vw;
    margin-top: 10px;
    border-radius: 10px;

}

.comments {
    display: flex;
    gap: 2vw;
    width: 90%;
    margin: auto;
    margin-top: 10vh;
}

.comments .chat {
    display: flex;
    gap: 2vw;
}

.comments .comment > img {
    border-radius: 50%;
    border: 7px solid transparent;
}

.CustomerReviews {
    border-radius: 5px;
    margin: auto;
    margin-top: 40px;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B95CA;
}

.CustomerReviews button {
    background-color: #2B95CA;
    border: none;
    color: white;
    padding: 10px;
}

.spareroom {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 4vw;
    background-color: #F1EFEF;
}



.spareroom div {
    background-color: white;
    padding: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.img-container {
    
    background-size: cover;
    background-position: 0 78%;
    background-image: url('https://www.homestay.com/assets/promotions/orange_bed-96c5597c1f1b641729a5523b543fbf44b6508237ef81816347f5b10dc95c4485.jpg');
}

.ListYourProperty {
    border-radius: 5px;
    padding: 0;
    background-color: #2B95CA;
}

.spareroom button {
    padding: 10px;
    padding-left: 0;
    width: 20vw;
    border: none;
    color: white;
    background-color: #2B95CA;
}

.spareroom div h3,
.spareroom div p {
    padding-bottom: 20px;
}

.ListARoom {
    display: flex;
    flex-direction: column;
}

.Sustainable {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.Sustainable h3,
.Sustainable p {
    font-family: Open sans;
    font-weight: 400;
    color: #512B1A;
    padding: 20px;
}

.Sustainable h3 {
    font-size: 1.5em;
}

.heading {
    text-align: center;
}

.inspireMe {
    display: flex;
    background-color: #F1EFEF;
    flex-direction:column ;
    width: 100%;
    margin-top: 15px;
}
.inspireMe>div{
    width: 90%;
    margin: auto;
    margin-top: 5vh;
}
.inspireMe p {
    margin: 10px;
}

.Cart1 {
    display: flex;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    flex-wrap: wrap;
}

.Cart1 div{
    width: 300px;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    overflow: hidden;
    
    display: block;
    cursor: pointer;
    box-shadow: 0 2px 5px #B7B1AE;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.cart-item {
    position: relative;
    height: 350px; 
    width: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 50px;
}

.title-container {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    visibility: visible;
}

.name {
    margin: 0;
    font-size: 18px;
}

.explore-btn {
    display: none;
    background-color: #92C01F;
    border: none;
    padding: 8px 16px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.cart-item:hover .explore-btn {
    display: inline-block;
}

.cart-item:hover .title-container {
    visibility: visible;
}

.footer-container {
    width: 100%;
    background-color: rgb(94, 88, 83);
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    color: white;
}
h5 {
    color: rgb(255,255,255, 0.6);
}

.company p {
    padding-top: 20px;
}

.explore p {
    padding-top: 20px;
}

.customer p {
    padding-top: 20px;
}

.logos {
   display: flex;
}
.logos img {
    margin: 15px;
}

.info {
    width: 40%;
    margin: auto;
    padding: 15px;
}
.info a {
    text-decoration: none;
    color: rgba(100, 38, 25, 0.8);
    padding-right: 20px;
    margin: 20px;
    border-right: 0.5px solid rgba(100, 38, 25, 0.8);
}
.info :nth-child(3){
    border: none;
}
/* #header-container {
    position: relative;
}


 .header-right {
    position: absolute; 
    top: 9vh;            
    right: 0; 
            
    display: none;  
}

.header-right.active {
    display:flex;
    flex-direction: column;
    width: 100%; 
    margin: auto;
    text-align: center;
    padding-top: 1vh;
    background-color: white;
    
}
.header-right.active a{
    color: #656261;
    border: 1px solid #656261;
    border-collapse: collapse;
}


.hamburger-menu {
    cursor: pointer;
} */

@media (max-width:431px) {
    #header-container {
        background-color: white;
    }

    .header-right  {
        display: none;
    }
    .hero-container {
        background-image: url(https://www.homestay.com/assets/homepage/hero/hero-d964776e555246a8c442f3cbca48c7412b066dee0fdf7cd76e162d9f6d40700f.jpg);
        height: 100vh;
        width: 100%;
    }
    .upper-middle p {
        font-size: 35px;
        padding: 25px;
    }

    #destination {
        width: 100%;
    }
    
    #search {
        width: 100%;
    }
    main {
        width: 100%;
    }

    .upper h1 {
        font-size: 25px;

    }

    .comments {
        flex-direction: column;
        width: 100%;
    }

    .bottom-main {
        display: none;
    }

    .form1 {
        display: flex;
        flex-direction: column;
    }

    .form1 select,input,button{
        padding: 25px;
    }

    #dropdownlist {
        width: 100%;
    }

    #check-in,#check-out {
        width: 100%;
    }
    
    .videoSection{
        display: 100%;
        flex-direction: column;
    }
    .video{
        flex-direction: column;
    }
    .video .hapening{
        display: none;
    }
    iframe{
        width: 80%;
        height: auto;
    }

    .hapening {
        display: none;
    }
    .comment{
        flex-direction: column;
    }

    .ListARoom{
        flex-direction: column;
    }

    .spareroom {
        flex-direction: column;
    }

    .spareroom div {
        width: 100%;
    }

    .spareroom button {
        width: 100%;
    }

    .main-box form {
        width: 100%;
        padding: 20px;
    }

    .form2 #dropdownlist,#check-in1,#check-out1,#persons2,.filter {
        display: none;
    }
    #search1{
        width: 123%;
        height: 5vh;
        font-size: x-small;
        padding: 2px 10px;
        
    }

    .form2 {
        display: inline-block;
        padding-right: 0px;
    } 
    
    #dropdownlist1 {
        padding: 15px;
        width: 123%;
        height: 5vh;
    }

    #dropdownlist2 {
        padding: 15px;
        width: 123%;
        height: 5vh;
    }

    .newLeft {
        display: none;
    }

    .newRight {
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }

    .upper-newRight h1 {
        font-size: 25px;
    }

    .lower-newRight1 {
        display: block;
    }

    .lower-newRight1 .lowerRight-image img {
        width: 100%;
    }

    .Sustainable{
        flex-direction: column;
    }
    .CustomerReviews {
        width: 50vw;
    }
    .right-side {
        width: 100%;
        justify-content: flex-start;
        padding: 10px;
    }
   
    .nav-links {
        display: none; 
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    .hamburger-menu {
        display: block; 
        color: black;
        width: 50px;
        padding: 25px;
    }

    .nav-links a {
        color: white;
    }
    .footer-container{
        display: flex;
        flex-direction: row;
        gap:5vw
    }
    .logos {
        display: none;
    }
    .info {
        width: 100%;
    }
    .info a {
        text-decoration: none;
        color: rgba(100, 38, 25, 0.8);
        padding-right: 10px;
        margin: 2px;
        border-right: 0.5px solid rgba(100, 38, 25, 0.8);
        font-size: 15px;
    }
    .pick-item {
        width: 100%;
    }
    #header-container {
        position: fixed; /* This makes the header-right positioned relative to it */
    }
    
     /* Initially hide the menu */
     .header-right {
        position: absolute; /* Position the header-right div absolutely */
        top: 9vh;              /* Align it to the top */
        right: 0; 
                 /* Align it to the right */
        display: none;       /* Hide the menu by default */
    }
    /* Show the menu when it's active */
    .header-right.active {
        display:flex;
        flex-direction: column;
        width: 100%; 
        margin: auto;
        text-align: center;
        padding-top: 1vh;
        background-color: white;
        
    }
    .header-right.active a{
        color: #656261;
        border: 1px solid #656261;
        border-collapse: collapse;
    }
    
    /* Add styles for the hamburger menu */
    .hamburger-menu {
        cursor: pointer;
    }
}